
-# in app/views/movies/edit.html.haml

%h2 Edit Movie

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, 'Title'
  = text_field :movie, :title

  = label :movie, :rating, ' - Rating'
  = select :movie, :rating, ['PG', 'PG-12', 'R', 'R-17', 'U']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date, :start_year => 1977
  = submit_tag 'Save Changes'

%br
%br
= link_to "Return to movies", movies_path
