
-# This files is app/view/movies/index.html.haml

%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
      %th Edit
      %th Delete
  %tbody
    - @movies.each do |movie|
      %tr
        %th= movie.title
        %th= movie.rating
        %th= movie.release_date
        %th= link_to "More about #{movie.title}", movie_path(movie)
        %th= link_to "Edit", edit_movie_path(movie)
        %th= link_to "Delete", movie_path(movie), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Add new movie', new_movie_path
