
-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%Y-%B-%d")

%h3 Description:
%p#description= @movie.description

= button_to "Edit", edit_movie_path(@movie), :method => :get
= button_to "Delete", movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
= link_to "Back to movie list", movies_path
