/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  padding: 0;
  background: white;
  color: DarkSlateGray;
  font-family: Tahoma, Verdana, Sans-Serif;
  font-size: 10pt;
}

div#margin {
  margin: 0;
  padding: 0 20pt 20pt;
}

a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}

h2 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGray;
}

h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}

table#movies {
  margin: 10px;
  /* border-collapse: collapse; */
  width: 100%;
  border-bottom: 2px solid black;
}

table#movies thead th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}

table#movies tbody th {
  font-weight: normal;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
  color: white;
  font-weight: bold;
  text-align: center;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
