!!! 5
%html
  %head
    %title My Rotten Potatoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %header
    %h1.title My Rotten Potatoes

  .app-messages
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warnig]

  #margin= yield

  %footer
